// Configure Tailwind CSS
{
  module: {
    rules: [
      {
        test: /\.css$/,
        use: [
          'style-loader',
          {
            loader: 'postcss-loader',
            options: {
              ident: 'postcss',
              plugins: [
                require('tailwindcss')({
                                         theme: {
                                           container: {
                                             center: true,
                                           },
                                         },
                                       }),
                require('autoprefixer'),
              ],
            },
          },
        ],
      }
    ],
  }
}
